GEMINI_API_KEY=AQ.LaAPIKEY# sacar una api key de la pagina de gemini

ROBOFLOW_API_KEY=#IGNORAR es la api para descargar el dataset asi q no es necesario poner nada aqui

SOLO_DETECCION=False# Cambiar para hacer pruebas de deteccion/ no poner en False para pruebas